.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

sessions/*
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
sessions/ci_session1jkkq3mndi3b0n8pitom4gigtl98nsjj
sessions/ci_sessional7qr2oo8a0hs47uhu64marep1clh5jq
sessions/ci_sessionekujl8v0n7f5fndqj7aeg9aqevd9vgie
sessions/ci_sessionemoheaipv6lfoc18g38da7943sjq2ltn
sessions/ci_sessionf26ritgssf4fgbkj6d9tb16t7grpuf58
sessions/ci_sessionfbdussofifgo4k3ci3tb9sj3g1pvb2gv
sessions/ci_sessionfoth9kaf3dnk33ucnbm33u704gigd2bj
sessions/ci_sessiongtk8uoufqq7m1b7hg4vspmcfru1q96v8
sessions/ci_sessionh568v774mn32bnq3lcqrv3grqpvjbpkq
sessions/ci_sessionii5sir0jd4e9dro8fi6b5qcmb1nom9t3
sessions/ci_sessionjom2it4bhjsa762ls42t3509ghp7mu2q
sessions/ci_sessionljucefiv29otruhmkknnpp878n0b4scj
sessions/ci_sessionm32vrvaocv7edlei643jtb7j5sgto06m
sessions/ci_sessionn484fbqq94vlqg4882kcs805hoieda02
sessions/ci_sessionnnrqdlqh1ehabigivm1c75jconmlu9u1
sessions/ci_sessionpm62bm363v0pr9ra7hmmhct73ojoeu6a
sessions/ci_sessionq2b013u5h33v5pdl16m1rjfd5bo4j8as
sessions/ci_sessionq8a3pr4m6alipgmkc5v9vbdr6i74qe9k
sessions/ci_sessionrpsdrun23b590qd5339vt2akksc7h0ci
sessions/ci_sessionrtcff61vlq24a71dm7p69akre8iet4qd
sessions/ci_sessions7igmcam8e5b125psq0m72mi7kovb9ej
sessions/ci_sessionse5iqdvkcflsmj9f6k9evgocl8skhqks
sessions/ci_sessionttne0nfqpamieoudm55ms2crkivlunm7
sessions/ci_sessionuerdi35euic5dogjr0834v1df8bdia3c
sessions/ci_sessionvrvdavja6lh0tl7b8iqku7l9sbs5a3uh
